.preview-panel {
  width: 20em;
  height: 32em;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
}

.emote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85%;
}

.emote-container {
  width: 90%;
  aspect-ratio: 1/1;
  background: rgba(0, 0, 0, .15);
  position: relative;
  border-radius: .5em;
  z-index: 0;
  overflow: hidden;
}

.emote-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../assets/png-background.svg');
  z-index: -1;
}

.generated-emote {
  position: absolute;
  inset: 0;
  width: 100%;
}

#download {
  height: 6em;
  width: 90%;
  border: none;
  // padding: 0 1em;
  margin-top: 0em;
  text-align: center;
}