:root {
  --color-black-60: hsl(0, 0%, 40%);
  --color-black-15: hsl(0, 0%, 90%);
  --color-black-40: hsl(0, 0%, 60%);
  --border-radius: .5em;
}

.panel-selection {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2%;

  h1 {
    height: 30vh;
    writing-mode: sideways-lr;
    color: white;
    font-family: 'Jua', sans-serif;
    font-weight: 600;
    letter-spacing: .1em;
    opacity: 50%;
    cursor: pointer;
    user-select: none;
    font-size: 1.5em;
    text-align: center;
    transition: opacity .3s ease-out;
  }

}

.selection-active {
  opacity: 100% !important;
}