:root {
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-15: rgba(0, 0, 0, 0.15);
}

.customization-panel {
  // position: fixed;
  width: 20em;
  height: 50%;
}

.option-container {
  display: flex;
  justify-content: center;
  // background: lightpink;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 1.5em;
}

.icon-option {
  width: 10%;

  img {
    width: 100%;
    opacity: 0.5;
  }
}

.option-box {
  background-color: var(--color-black-15);
  width: 80%;
  height: 3.5em;
  border-radius: .5em;
}